[submodule "backend"]
	path = backend
	url = https://github.com/ZackEberhart/websterium-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ZackEberhart/websterium-frontend.git
